/* ===== shared ===== */
.work { font-family:Georgia,serif; font-style:italic; font-size:18px; line-height:1.7;
        margin:9px 0; }
p.work { font-family:Georgia,serif; font-style:italic; font-size:18px; line-height:1.7;
         margin:9px 0; padding-left:6px; }
